
nav {
  margin: 0 !important;
}

.title {
  padding: 0;
  font-size: 3.5rem;
  margin-bottom: 60px;
  margin-top: 60px;
  color: cornsilk;
  border-bottom: solid 1px cornsilk;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)), url('./fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.title h1{
  width: 100%;
  padding: 30px 0;
  font-size: 3rem;
}

.desc {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0 80px;
}

.desc * {
  font-weight: 400;
  color: white;
}

.desc h3 {
  width: 70%;
}

.desc h1 {
    color: cornsilk;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 50px;
}

.desc ul {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc ul li, h3 {
  line-height : 35px;
}

.title h1{
    color: cornsilk;
    font-size: 4rem;
    border-bottom: solid 1px cornsilk;
    margin-bottom: 50px;
}



@media screen and (max-width: 768px) {
  

  .desc h3,
  .desc h1 {
    width: 100%;
    padding: 0 20px;
    text-align: justify;
  }

  .desc {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  :root {
    font-size: 20px;
  }


  .desc h3 {
    width: 100%;
  }
}
